body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Outer flex container */
.outer-flex-container {
  display: flex;
  flex-direction: column; /* or row, or other flex directions */
  /* Other flex properties for the outer container */
}

/* Inner flex container */
.inner-flex-container {
  display: flex;
  /* Adjust flex properties for the inner container */
}

/* Style for flex items */
.item, .inner-item {
  /* Style properties for items */
}
